html, body { margin: 0; height: 100%; overflow: hidden }

.parent {
	background-color: black;
	opacity: 1.0;
	margin: -0px;
	height: 100vh;
	position: relative;
}

/*.map {*/
/*	width: 100%;*/
/*	height: 100%;*/
/*	background-color: green;*/
/*	opacity: 1.0;*/
/*	text-align: center;*/
/*}*/
.MapDrawer
{
	opacity: 1.0;
	position: absolute;
	top: 55px;
	width: 8cm;
	height: 100%;
}
#MapDrawerLeft
{
	background-color: cyan;
	left: 0px;
	margin-left: -8cm;
	z-index: 3;
}
#MapDrawerRight
{
	background-color: yellow;
	right: 0px;
	margin-right: -8cm;
	z-index: 3;
}
#MapDrawerBackdrop {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.6;
	top: 0;
}
.leftDrawerHeader {
	width: auto;
	height: 61px;
	padding: 5px;
	background-color: pink;
	opacity: 0.9;
}
.leftDrawerCloseButton {
	width: 30px;
	height: 30px;
	padding: 3px;
	margin: 5px;
	border-radius: 4px;
	right: 0px;
	position: absolute;
}
.routeButtonsContainer {
	width: auto;
	height: 90%;
	background-color: red;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: darkgrey darkgrey;
}
.routeButton {
	width: auto;
	height: 90px;
	padding: 3px;
	margin: 0px 0px 0px 0px;
	border-top: 5px solid black;
	background-color: white;
	opacity: 1.0;
}
.routeContent {
	position: relative;
	top: 0%;
	background-color: blue;
	height: 5cm;
}
.leftDrawerOpenButton {
	width: 50px;
	height: 50px;
	padding: 5px;
	position: absolute;
	top: 90px;
	z-index: 2;
}
#MapDrawerRightOpenButton {
	width: 50px;
	height: 50px;
	padding: 5px;
	position: absolute;
	top: 140px;
	right: 0px;
	z-index: 2;
}

/* ----------- BREAKPOINTS ----------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}