/* Always set the mapindex height explicitly to define the size of the div
         * element that contains the mapindex. */
#map {
    height: 100%; /* Google's suggested height of 100% may prevent map from displaying */
}

#legend {
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: transparent;
    padding: 5px;
    margin: 5px;
}
#legend div {
    background-color: #ffffff;
    padding: 1px;
}

#legend a {
    font-weight: bold;
    width: 100%;
}

#legend img {
    vertical-align: middle;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#dropDownControls {
    max-height: 400px;
    overflow: auto;
}

#routeDropdown {
    margin: 10px 10px 10px 10px;
}

@media screen and (max-width: 400px) {
    .dropdown-menu > li > button {
        word-wrap: break-word;
        white-space: normal;
    }

    #dropDownButton {
        word-wrap: break-word;
        white-space: normal;
        /*height: 50px;*/
        /*width: 50px;*/
        /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),*/
        /*0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);*/
        /*border-radius: 25px;*/
    }

    .dropdown-menu {
        max-width: 400px;
    }
}
