/* Always set the mapindex height explicitly to define the size of the div
         * element that contains the mapindex. */
/*#map {*/
/*    height: 100%; !* Google's suggested height of 100% may prevent map from displaying *!*/
/*}*/

#legend {
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: transparent;
    padding: 5px;
    margin: 5px;
}
#legend div {
    background-color: #ffffff;
    padding: 1px;
}

#legend a {
    font-weight: bold;
    width: 100%;
}

#legend img {
    vertical-align: middle;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#dropDownControls {
    max-height: 400px;
    overflow: auto;
}

#selectRoutesButtonDiv {
    margin: 10px 10px 10px 10px;
}

@media screen and (max-width: 400px) {
    .dropdown-menu > li > button {
        word-wrap: break-word;
        white-space: normal;
    }

    #selectRoutesButtonDiv {
        word-wrap: break-word;
        white-space: normal;
    }

    .dropdown-menu {
        max-width: 400px;
    }
}
