.scrollbar-width-thin
{
    scrollbar-width: thin;
}

.bus-stop-bullet-point
{
    margin-right: 12px;
}

.bus-stop-container
{
    padding-top: 10px;
    margin-bottom: 10px;
}

.accordion-body-route
{
    padding: 5px;
}