.scrollbar-width-thin
{
    scrollbar-width: thin;
}

.bus-stop-bullet-point
{
    margin-right: 12px;
}

.bus-stop-container
{
    padding-top: 10px;
    margin-bottom: 10px;
}

.accordion-body-route
{
    padding: 5px;
}

#routeMenu {
    max-height: 100vh;
    overflow: auto;
}
#routeMenuBody {
    scrollbar-width: thin;
    padding: 0; /* .offcanvas-body has initial padding, but this removes it. */
    max-height: calc(100vh - 56px);
    /* 56px is the height of the navbar. Not sure if it is different on other platforms.
    I know you can extend it down on smaller viewports, but that does not negatively
    affect the result I am trying to aim for (no scrollbar on the right side of the map page. */
}
#selectedRouteAndBusStopLabels {
    text-shadow: 1px 1px 1px white;
    padding-top: 10px;
    width: calc(100vw - 130px);
}