{% extends "main/base.html" %}

{% block extend_head %}
    <style nonce="{{request.csp_nonce}}">
        #wrapper {
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
        }

        .errorlist { /* this actually works despite pycharm not seeing what it's linked to */
            color: red;
        }

    </style>
{% endblock %}


{% block content %}
    <div id="wrapper" class="container">
        <div class="container">
            <div class="row">
                <form method="post" action="{% url 'users:register' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ user_form.username.label_tag }} {{ user_form.username }}
                    </div>
                    <div class="mb-3">
                        {{ profile_form.phone.label_tag }} {{ profile_form.phone }}
                    </div>
                    <div class="mb-3">
                        {{ user_form.password1.label_tag }} {{ user_form.password1 }}
                    </div>
                    <div class="mb-3">
                        {{ user_form.password2.label_tag }} {{ user_form.password2 }}
                    </div>
                    <button name="submit">Register</button>
                    <input type="hidden" name="next" value="{% url 'main:index' %}">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
