{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}
    <style nonce="{{request.csp_nonce}}">
        #content-main {
            height: 100%;
            color: black;
            justify-content: center;
        }
    </style>
{% endblock %}


{% block content %}
    <div id="content-main" class="container">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <style nonce="{{request.csp_nonce}}"> #shutterstockIMG{max-width: 100%;}</style>
                <img src="{% static 'main/img/shutterstock_627370652.jpg' %}" alt="shutterstock_627370652.jpg" id="shutterstockIMG">
            </div>
            <div class="col-md-7 align-self-center">
                <style nonce="{{request.csp_nonce}}"> #article{ margin-bottom: 5%;margin-top: 5%;}</style>
                <article class="container d-flex flex-column align-items-start justify-content-md-start" id="article">
                    <style nonce="{{request.csp_nonce}}"> #goalsObj{ text-align: center;}</style>
                    <h3 id="goalsObj">Goals and Objectives</h3>
                    <!-- <article class="text-white mb-0"> -->
                    <!-- <article class="text-white mb-0" style="background-color: rgba(51, 46, 112, 0.02);"> -->

                    <p> MySmartSA utilizes a multipronged approach to conduct quantitative and qualitative research
                        using secure intelligent technology, build intra- and inter-disciplinary research capacity
                        at A&M-SA, build research partnerships between A&M-SA and SA VIA Metropolitan Transit (VIA
                        Transit) to facilitate data driven transit planning decisions, and increase the competitiveness
                        of
                        A&M-SA faculty-student research for future CISE grants. The MySmartSA app will be customizable
                        and
                        will include real-time bus arrival information, notices when seating is limited, instant alert
                        messages for schedule changes and other important information, and interactive features to
                        directly collect data from riders about their commute experience. All services will be available
                        in both English and Spanish. Researchers and students from
                        diverse disciplines (sociology, computer science, cyber security, & information science)
                        will work collaboratively to achieve project success. </p>

                    <p>The objectives of the MySmartSA are to:</p>
                    <p>(1) improve the accuracy of bus arrival time reporting </p>
                    <p>(2) provide up-to-date information about seating availability and important transit alerts</p>
                    <p> (3) collect data that will be used to improve rider satisfaction and inclusivity of VIA
                        transit </p>

                </article>
            </div>

        </div>
    </div>

{% endblock %}


{% block footer %}
    {% include 'main/nsf_footer.html' %}
{% endblock footer %}

