{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            document.querySelector('#red').onclick = function() {
                document.querySelector('#hello').style.color = 'red';
            };

            document.querySelector('#green').onclick = function() {
                document.querySelector('#hello').style.color = 'green';
            };

            document.querySelector('#blue').onclick = function() {
                document.querySelector('#hello').style.color = 'blue';
            };

        });

    </script>

{% endblock %}


{% block content %}

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-1">
        <h1 class="display-5 fw-bold" id="hello">Hello.</h1>
        <p class="col-md-8 fs-4">This site is under construction.</p>
        <button class="btn btn-secondary btn-md" id="red">Red</button>
        <button class="btn btn-secondary btn-md" id="green">Green</button>
        <button class="btn btn-secondary btn-md" id="blue">Blue</button>
      </div>
    </div>


    <footer class="pt-3 mt-4 text-muted border-top">
      © 2022
    </footer>

{% endblock %}