{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}

   <style>
        #intro {
            height: 90vh;  /* div height */

            background-image: url("{% static 'main/img/39584_white-bus-on-road-near-in-high-rise-building.jpeg' %}");
            background-size: cover;  /* background image size, 'cover' forces image to cover entire container */
            background-position: center;
        }
    </style>

{% endblock %}


{% block content %}

    <div id="intro" class="container-fluid">
        <div class="container py-4">
            <br><br>
            <h3 class="text-white mb-0" style="text-align: center;">
                Building a Smart Mobility Network for the San Antonio Transit to Improve Transit Service and
                Social Impact (SmartSA)
            </h3>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <a href="/map" title="Go to Map">
                        <img src="{% static 'main/img/MapButton.png' %}" alt="MAP"
                            style="margin-left: 12.5%; margin-top: 5%; min-width: 75%; margin-bottom: 5%;
                            object-fit: scale-down;">
                    </a>
                    <a href="https://tamusa.co1.qualtrics.com/jfe/form/SV_7WF9vwgK7BUyoxE"
                        title="Take the Survey">
                        <img src="{% static 'main/img/SurveyButton.png' %}" alt="Survey"
                        style="margin-left: 12.5%; margin-top: 5%; min-width: 75%; margin-bottom: 5%;
                        object-fit: scale-down;">
                    </a>
                </div>
                <div class="col-md-9">
                    <a href="https://tamusa.co1.qualtrics.com/jfe/form/SV_7WF9vwgK7BUyoxE"
                        title="Take the Survey">
                        <img src="{% static 'main/img/flyer.png' %}" class="img-fluid" alt="Survey"
                        style="margin-top: 1.5%; object-fit: cover;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include 'main/nsf_footer.html' %}


{% endblock %}