{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}
    <style nonce="{{request.csp_nonce}}">
        #content-main {
            height: 100%;
            color: black;
            padding-top: 30px;
            padding-bottom: 30px;
            justify-content: left;
        }
        .row {
            margin-bottom: 10px;
        }
        h3 {
            margin-bottom: 10px;
        }
        .row.padding-row {
            {# Custom class used to insert padding between rows. #}
            margin: 20px;
        }
    </style>
{% endblock %}


{% block content %}
    <div id="content-main" class="container">
        <div class="container-fluid">
            <h3>Leading Faculty</h3>
            <div class="row">
                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                    <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a href="https://apps.tamusa.edu/course-information/Profile/Faculty/94?=Jeong-Sug-Yang">Dr. Jeong Yang</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong>Associate Professor</Strong></p>
                            <p class="card-text">Directs the management and operations of the project and oversees the team’s performance. </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>

                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a href="https://apps.tamusa.edu/course-information/Profile/Faculty/93?=Young-Lee">Dr. Young Lee</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong>Associate Professor</Strong></p>
                            <p class="card-text">Development of the real-time bus arrivals at stops and real-time bus tracking using Google Maps API. </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>

                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a href="https://apps.tamusa.edu/course-information/Profile/Faculty/46?=Izzat-Alsmadi">Dr. Izzat Alsmadi</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong>Associate Professor</Strong></p>
                            <p class="card-text">Design, implement and assess security test cases for the developed system. </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a href="https://apps.tamusa.edu/course-information/Profile/Faculty/295?=Mohammad-Abdel-Rahman">Dr. Mohammed Abdel-Rahman</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong>Assistant Professor</Strong></p>
                            <p class="card-text">Data-driven smart decisions on bus arrival time accuracy, data modeling, and evaluation. </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>

                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a href="https://apps.tamusa.edu/course-information/Profile/Faculty/426?=Daniel-Delgado">Dr. Daniel Delgado</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong>Associate Professor</Strong></p>
                            <p class="card-text">Study the social impact of poverty and racial/ethnic status' role in the use of the Transit system.</p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>

                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a href="https://apps.tamusa.edu/course-information/Profile/Faculty/296?=Zechun-Cao">Dr. Zechun Cao</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong>Assistant Professor</Strong></p>
                            <p class="card-text">Rider data privacy and their authentication in the developed application.</p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
            </div>

            <div class="row padding-row"></div>

            <h3>Student Assistants</h3>
            <div class="row">
                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a>William Noonan</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong></Strong></p>
                            <p class="card-text">Development </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>

                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a>Anoop Abraham</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong></Strong></p>
                            <p class="card-text">Development </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>

                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a>Emmer Palaming</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong></Strong></p>
                            <p class="card-text">UX/UI Designing</p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>


            </div>

            <div class="row">
                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a>Renate Fort</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong></Strong></p>
                            <p class="card-text">Social Science Research</p>
                        </div>
                    </div>
                        <!-- Card -->
                </div>
                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">
                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a>Mohammed Ali Kunda</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong></Strong></p>
                            <p class="card-text">Security Testing </p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
            </div>

            <div class="row padding-row"></div>

            <h3>Former Student Assistants</h3>
            <div class="row">
                <div class="col-md-3">
                    <!-- Card -->
                    <div class="card">

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <h5><a>Anthony Hanson</a> </h5>
                            <!-- Text -->
                            <p class="card-text"><Strong></Strong></p>
                            <p class="card-text">Development</p>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'main/nsf_footer.html' %}
{% endblock footer %}

