{% load static %}
<footer class="bg-dark text-center text-lg-start">
    <!-- Grid container -->

    <!-- Grid container -->
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <img src="{% static 'main/img/NSF100.png' %}" alt="NSF logo">
        </div>
        <div class="flex-grow-1 ms-auto">
            <!-- <img class="me-auto" src="img/NSF.jpg" style="scale: 50%;" alt="NSF logo"> -->
            <p class="text-white mb-0">
                This material is based upon work supported by the Science Foundation under Grant No. <a
                    href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2131193">
                <strong>2131193</strong></a>. Any opinions, findings, and conclusions, or recommendations expressed in
                this material are those of the author(s) and do not necessarily reflect the views of the National
                Science Foundation.
            </p>
        </div>
    </div>

    <!-- Copyright -->
    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
</footer>