{% load static %}
{% block extend_head %}
<style nonce="{{request.csp_nonce}}">
@media screen and (max-width: 600px) {
        #nsf-log {
                display: none;
        }
}
    </style>
{% endblock %}
<footer class="bg-dark">
    <!-- Grid container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-auto" id="nsf-log">
                <img class="img-fluid" src="{% static 'main/img/NSF100.png' %}" alt="NSF logo" style="width: 60px">
            </div>
            <div class="col">
                <p class="text-white mb-0">
                    This material is based upon work supported by the National Science Foundation under Grant No. <a
                        href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2131193">
                    <strong>2131193</strong></a>. Any opinions, findings, and conclusions, or recommendations expressed in
                    this material are those of the author(s) and do not necessarily reflect the views of the National
                    Science Foundation.
                </p>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
</footer>