{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            const currForm1 = document.querySelector("#routeSelectForm");
            currForm1.querySelectorAll('.form-select').forEach(input => {
              input.addEventListener(('input'), () => {
                if (input.checkValidity()) {
                  input.classList.remove('is-invalid')
                  input.classList.add('is-valid');
                  // $("#submitBtn").attr("disabled",false);           <<<<======== ??????
                } else {
                  input.classList.remove('is-valid')
                  input.classList.add('is-invalid');
                }
                var is_valid = $('.form-control').length === $('.form-control.is-valid').length;
                $("#submitBtn").attr("disabled", !is_valid);
              });
            });

        })

    </script>

{% endblock %}


{% block content %}
    <form class="was-validated" id="routeSelectForm">
        <div class="mb-3">
            <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">Select route...</option>
                {% for route in route_json %}
                    <option value="{{ route }}">{{ route }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <button id="submitBtn" class="btn btn-primary submit-button" type="submit" disabled>Submit form</button>
        </div>
    </form>

{% endblock %}
