{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}
    <!-- Scripts/links needed for the toggle switch (a custom checkbox) -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet" nonce="{{request.csp_nonce}}">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js" nonce="{{request.csp_nonce}}"></script>

    <!-- CSS for the bus driver buttons -->
    <style nonce="{{request.csp_nonce}}">

        .no-seats-btn, .open-seats-btn-group > .btn {
            padding-bottom: 40px;
            padding-top: 40px;
            font-size: xxx-large;
            font-weight: bold;
            color: black;
        }


        .no-seats-btn
        {
            margin-top: 10px;
            width: 100%;
        }



    </style>

    <script type="text/javascript" nonce="{{request.csp_nonce}}">




        $(document).ready(function () {

            /**
             * Class to represent a document element. Contains methods to disable/enable state, etc.
             */
            class Element {

                constructor(element, disabled_opacity=0.5) {
                    this.element = element
                    this.disabled_opacity = disabled_opacity
                    this.enabled_opacity = 1
                }

                /**
                 * Depth-first-search based function that recursively toggles disabled state and opacity of the descendants
                 * of an element.
                 *
                 * @param element
                 * @param disable_bool
                 * @param opacity
                 */
                static dfsToggleDisabledState(element, disable_bool, opacity=1) {

                    function _dfs_disable(element) {
                        element.children().each(function () {
                            _dfs_disable($(this))
                        })
                        element.prop('disabled', disable_bool).css('opacity', opacity)
                    }

                    _dfs_disable(element)
                }

                /**
                 * Disables the element and its descendants.
                 */
                disableElement() {
                    Element.dfsToggleDisabledState(this.element, true, this.disabled_opacity)
                }

                /**
                 * Enables the element and its descendants.
                 */
                enableElement() {
                    Element.dfsToggleDisabledState(this.element, false, this.enabled_opacity)
                }


            }


            // setup button on-click behavior (send data to server via ajax)
            $('.seat-availability-btn').each(function () {
                $(this).on("click", function () {
                    const toSend = {choice: $(this).data('color')}
                    jQuery.ajax({
                        url: "{% url 'bus:seatavailability-ajax' %}",
                        data: {'data': JSON.stringify(toSend)},
                        // ^the leftmost "data" is a keyword used by ajax and is not a key that is accessible
                        // server-side, hence the object defined here
                        type: "GET",
                        //dataType: 'json', // dataType specifies the type of data expected back from the server,
                        dataType: 'html',  // in this example HTML data is sent back via HttpResponse in views.py
                        async: false,
                        success: (data) => {

                        },
                    });
                })
            })

            // Get handles to the elements
            const toggleSwitch = $('#toggle-event')

            // Create ToggledElement objects
            const toggleSwitchParent = new Element($('#toggleSwitchParent'), 0.8)
            const seatAvailabilityInterfaceParent = new Element($('#seatAvailabilityInterfaceParent'), 0.6)

            // Immediately disable descendants of divs for toggle switch, seat availability interface
            toggleSwitchParent.disableElement()
            seatAvailabilityInterfaceParent.disableElement()

            // Route select dropdown
            const routeSelect = $('#routeSelect');

            // Status message divs
            const statusMessageDiv = $("#statusMessage")
            const latlngMessageDiv = $("#latlngMessage")

            // Handle to watchPosition execution
            let watchPositionID;

            // Initialize prevTime, broadcast frequency
            let prevTime = Date.now();
            const broadcastFrequency = 2000;

            // Warn driver with popup if they try to leave the page while toggle-switch is activated
            $(window).bind('beforeunload', function() {
                if(toggleSwitch.prop('checked')) {
                    return "a string must be returned";  // As of 2021, for security reasons it's no longer possible to display a custom message
                }
            });


            /**
             * Options and callbacks
             */

            const watchPositionOptions = {
                enableHighAccuracy: true,
                timeout: broadcastFrequency,
                //maximumAge: 60000,
            };

            function geolocationPositionError(positionError) {
                console.warn('ERROR(' + positionError.code + '): ' + positionError.message);
            }

            function ajaxSuccess(data) {
                // nothing
            }

            function watchPositionSuccess(geolocationPosition) {

                statusMessageDiv.html(`Broadcasting position for:  ${routeSelect.children("option").filter(":selected").text()}`)

                    if (geolocationPosition.timestamp - prevTime > broadcastFrequency) {
                        prevTime = geolocationPosition.timestamp
                        const geolocationCoordinates = geolocationPosition.coords;

                        // Update position data status message on page
                        latlngMessageDiv.html(`Latitude  :${geolocationCoordinates.latitude}
                                                      Longitude :${geolocationCoordinates.longitude}
                                                      Accuracy  :${geolocationCoordinates.accuracy}
                                                      Speed     :${geolocationCoordinates.speed}
                                                      Rotation  :${geolocationCoordinates.heading}`)

                        // Send the location information to the server
                        const posData = {
                            'selected_route': routeSelect.val(),
                            'latitude': geolocationCoordinates.latitude,
                            'longitude': geolocationCoordinates.longitude,
                            'accuracy': geolocationCoordinates.accuracy != null ? geolocationCoordinates.accuracy: "",
                            'speed': geolocationCoordinates.speed != null ? geolocationCoordinates.speed: "",
                            'heading': geolocationCoordinates.heading != null ? geolocationCoordinates.heading: ""
                        }

                    // Send the watchPosition data to the server
                    jQuery.ajax({
                        url: "{% url 'bus:busposition-ajax' %}",
                        data: {'posData': JSON.stringify(posData)},
                        // ^the leftmost "data" is a keyword used by ajax and is not a key that is accessible
                        // server-side, hence the object defined here
                        type: "GET",
                        //dataType: 'json', // dataType specifies the type of data expected back from the server,
                        dataType: 'html',  // in this example HTML data is sent back via HttpResponse in views.py
                        success: ajaxSuccess,
                    });

                }
                else
                {
                    // We don't want to make frequent commits to server.
                    console.log(geolocationPosition.timestamp - prevTime)
                }
            }


            /**
             * On-change actions
             */

            // Route selector on-change action
            routeSelect.on('change', function () {
                if($(this).val() !== '') {
                    toggleSwitchParent.enableElement()
                }
            })

            // Broadcast toggle-switch on-change action
            toggleSwitch.change(function() {
                // boolean value from toggle switch
                if( $(this).prop('checked') ) {
                    // Immediately disable the route selector
                    routeSelect.prop('disabled', true);
                    seatAvailabilityInterfaceParent.enableElement()

                    // Execute watchPosition callback, store its handle in the global script var
                    watchPositionID = navigator.geolocation.watchPosition(watchPositionSuccess, geolocationPositionError, watchPositionOptions)

                } else {
                    // Clear watchPosition using handle
                    navigator.geolocation.clearWatch(watchPositionID);

                    // Toggle disabled states of route selector,
                    routeSelect.prop('disabled', false);
                    seatAvailabilityInterfaceParent.disableElement()


                    // Clear status message divs
                    statusMessageDiv.html('');
                    latlngMessageDiv.html('');


                    // temporary dummy data
                    const dataToSend = {'active': 0}

                    // Notify the server that the driver has ended their broadcast
                    jQuery.ajax({
                        url: "{% url 'bus:bushasendedbroadcast-ajax' %}",
                        data: {'data': JSON.stringify(dataToSend)},
                        // ^the leftmost "data" is a keyword used by ajax and is not a key that is accessible
                        // server-side, hence the object defined here
                        type: "GET",
                        //dataType: 'json', // dataType specifies the type of data expected back from the server,
                        dataType: 'html',  // in this example HTML data is sent back via HttpResponse in views.py
                        success: ajaxSuccess,
                    });


                }
            })

        })

    </script>

{% endblock %}


{% block content %}
    <div class="container py-4">
        <div class="mb-3">
            <select class="form-select" id="routeSelect">
                <option selected disabled value="">Select route...</option>
                {% for route_id, route_text in allRoutes.items %}
                    <option value="{{ route_id }}">{{ route_text }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="toggleSwitchParent" class="mb-3">
            <input id="toggle-event" type="checkbox" data-toggle="toggle" data-on="Stop Driving" data-off="Start Driving" data-onstyle="danger">
        </div>
        <div class="mb-3" id="statusMessage"></div>
        <div class="mb-3" id="latlngMessage"></div>
        <div id="seatAvailabilityInterfaceParent" class="mb-3">
            <h5>Open Seats</h5>
            <div class="row">
                <div class="btn-group btn-group-lg open-seats-btn-group" role="group" aria-label="Basic mixed styles example">
                  <button type="button" class="btn btn-success seat-availability-btn" data-color="green">3+</button>
                  <button type="button" class="btn btn-warning seat-availability-btn" data-color="yellow"><3</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-danger btn-lg no-seats-btn seat-availability-btn" data-color="red">None</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
