{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}
    <!-- Scripts/links needed for the toggle switch (a custom checkbox) -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet" nonce="{{ request.csp_nonce }}">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"
            nonce="{{ request.csp_nonce }}"></script>

    <!-- CSS for the bus driver buttons -->
    <style nonce="{{ request.csp_nonce }}">

        #driver_page_map {
            height: 60vh; /* Google's suggested height of 100% may prevent map from displaying */
            overflow-y: scroll;
            margin-top: 10px;
        }

        #btnArrived, #btnSkipped {
            margin-top: 5px;
        }

        .no-seats-btn, .open-seats-btn-group > .btn {
            padding-bottom: 40px;
            padding-top: 40px;
            font-size: xxx-large;
            font-weight: bold;
            color: black;
        }


    </style>

    <script type="text/javascript" nonce="{{ request.csp_nonce }}">

        const AJAX_URL_ROUTE_DETAILS = "{% url 'map:routedetails-ajax' %}";
        const AJAX_URL_UPDATE_LAST_STOP = "{% url 'bus:buslaststop-ajax' %}";
        let previousStopIdx = -1;
        let driver_page_map_obj;
        let activeMarkerInfoWindow = null;
        let activeStop = null;
        let locationMarker = null;
        let all_stops;
        let changeViewCounter = 0
        let active_bus_id = -1;

        function getMarker(latLng) {
            return new google.maps.Marker({
                position: new google.maps.LatLng(latLng),
                icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: 10,
                    fillOpacity: 1,
                    strokeWeight: 2,
                    fillColor: '#5384ED',
                    strokeColor: '#ffffff',
                },
                map: driver_page_map_obj,
            });
        }

        function initMap() {
            let startLocation = {lat: 29.4190, lng: -98.4836}
            driver_page_map_obj = new google.maps.Map(document.getElementById('driver_page_map'), {
                zoom: 15,
                center: startLocation,
                gestureHandling: "greedy",
                clickableIcons: true,
                disableDefaultUI: true,
            });

            locationMarker = getMarker(startLocation)

            // Initialize InfoWindow instance for the markers (all markers will use this instance)
            activeMarkerInfoWindow = new google.maps.InfoWindow();

        }

        window.initMap = initMap;

        function updateLastStop() {
            const stopSelect = $('#stopSelect');
            let toSend = {
                'choice': stopSelect.val()
            }
            jQuery.ajax({
                url: "{% url 'bus:buslaststop-ajax' %}",
                data: {'data': JSON.stringify(toSend)},
                // ^the leftmost "data" is a keyword used by ajax and is not a key that is accessible
                // server-side, hence the object defined here
                type: "GET",
                //dataType: 'json', // dataType specifies the type of data expected back from the server,
                dataType: 'html',  // in this example HTML data is sent back via HttpResponse in views.py
                async: false,
                success: (data) => {
                },
            });
        }

        function addBusStopMarker(busStop) {
            const svgMarker = {
                path: "M17.98,10.1c0,6.51-8.74,17.44-8.74,17.44,0,0-8.74-11.49-8.74-17.44C.5,4.8,4.41,.5,9.24,.5s8.74,4.3,8.74,9.6Z",
                fillColor: busStop.LocationPinColor,
                fillOpacity: 1,
                scale: 1.5,
                labelOrigin: new google.maps.Point(10, 10),
                // Size of the SVG image
                size: new google.maps.Size(18.48, 28.35),
                // The origin for this image is (0, 0).
                origin: new google.maps.Point(0, 0),

                anchor: new google.maps.Point(10, 29),
            };

            let marker = new google.maps.Marker({
                position: new google.maps.LatLng(busStop.BusStopLatitude, busStop.BusStopLongitude),
                map: null,
                title: busStop.BusStopName,
                label: {
                    text: `${busStop.BusStopIndex}`,
                    color: "black",
                    fontWeight: "bold"
                },
                icon: svgMarker,
                animation: null,
            })


            // NOTE: PyCharm says addListener is deprecated, but it still works and the suggested method addEventListener doesn't work
            marker.addListener("click", () => {
                let infowindowContent = `<div class="container">
                                            <div class="row">
                                                <strong><b>${marker.title}</b></strong>
                                            </div>
                                             <div class="row">
                                                <button type="button" class="btn btn-primary btn-sm" id="btnArrived" >Arrived</button>
                                                <button type="button" class="btn btn-secondary btn-sm" id="btnSkipped" >Skipped</button>
                                             </div>

                                        </div>`

                activeMarkerInfoWindow.close();  // closes any currently open info window
                activeMarkerInfoWindow.setContent(infowindowContent);
                activeMarkerInfoWindow.title = marker.title;
                activeMarkerInfoWindow.open(marker.getMap(), marker);
                activeStop = parseInt(marker.label.text, 10);

                google.maps.event.addListenerOnce(activeMarkerInfoWindow, 'domready', function () {
                    let btn1 = $("#btnArrived");
                    if (btn1 != null) {
                        $('#btnArrived').on("click", function () {
                            updateActualArrivalTime();
                            activeMarkerInfoWindow.close()
                            activeStop = null
                        });
                    }
                    ;

                    var btn2 = $("#btnSkipped");
                    if (btn2 != null) {
                        $('#btnSkipped').on("click", function () {
                            updateBusStopSkip();
                            activeMarkerInfoWindow.close()
                            activeStop = null
                        });
                    }
                    ;
                });
            });
            return marker;

        }

        function proceedToNextStop(nextStop) {

        }

        function updateActualArrivalTime() {
            console.log("AAT Loged");
            data = {
                'bus_stop': all_stops[activeStop - 1].BusStopNumber,
                'bus_stop_index': all_stops[activeStop - 1].BusStopIndex,
                'is_arrived': 1
            }
            // Log to server
            jQuery.ajax({
                url: AJAX_URL_UPDATE_LAST_STOP,
                data: {'data': JSON.stringify(data)},
                type: "GET",
                dataType: 'json',
                success: (data) => {
                    //
                },
                error: (e) => {
                    //
                }
            });
        }

        function updateBusStopSkip() {
            console.log("Skip Loged")
            data = {
                'bus_stop': all_stops[activeStop - 1].BusStopNumber,
                'bus_stop_index': all_stops[activeStop - 1].BusStopIndex,
                'is_arrived': 0
            }

            {#Log to server#}
            jQuery.ajax({
                url: AJAX_URL_UPDATE_LAST_STOP,
                data: {'data': JSON.stringify(data)},
                type: "GET",
                dataType: 'json',
                success: (data) => {
                    //
                },
                error: (e) => {
                    //
                }
            });
        }

        function getAllStopsForRoute() {
            const routeSelect = $('#routeSelect');
            // Await data from server before continuing
            jQuery.ajax({
                url: AJAX_URL_ROUTE_DETAILS,
                data: {'data': JSON.stringify(routeSelect.val())},
                type: "GET",
                dataType: 'json',
                success: (data) => {
                    if (data) {
                        //console.log(data)
                        driver_page_map_obj.clear;
                        {#Load the bus stop markers.#}
                        all_stops = data.all_stops;
                        all_stops.forEach((busStop) => {
                            stopMarker = addBusStopMarker(busStop);
                            stopMarker.setMap(driver_page_map_obj)
                        });
                        busStop = data.all_stops[0];
                        driver_page_map_obj.setCenter(new google.maps.LatLng(busStop.BusStopLatitude, busStop.BusStopLongitude));
                    } else
                        console.log("No stops found for the given route.")
                },
                error: (e) => {
                    console.log(e.message)
                }
            });
        }


        $(document).ready(function () {

            /**
             * Class to represent a document element. Contains methods to disable/enable state, etc.
             */
            class Element {

                constructor(element, disabled_opacity = 0.5) {
                    this.element = element
                    this.disabled_opacity = disabled_opacity
                    this.enabled_opacity = 1
                }

                /**
                 * Depth-first-search based function that recursively toggles disabled state and opacity of the descendants
                 * of an element.
                 *
                 * @param element
                 * @param disable_bool
                 * @param opacity
                 */
                static dfsToggleDisabledState(element, disable_bool, opacity = 1) {

                    function _dfs_disable(element) {
                        element.children().each(function () {
                            _dfs_disable($(this))
                        })
                        element.prop('disabled', disable_bool).css('opacity', opacity)
                    }

                    _dfs_disable(element)
                }

                /**
                 * Disables the element and its descendants.
                 */
                disableElement() {
                    Element.dfsToggleDisabledState(this.element, true, this.disabled_opacity)
                }

                /**
                 * Enables the element and its descendants.
                 */
                enableElement() {
                    Element.dfsToggleDisabledState(this.element, false, this.enabled_opacity)
                }


            }

            $('#updateStopBtn').on("click", function () {
                updateLastStop();
            });


            // setup button on-click behavior (send data to server via ajax)
            $('.seat-availability-btn').each(function () {
                $(this).on("click", function () {
                    const toSend = {choice: $(this).data('color')}
                    jQuery.ajax({
                        url: "{% url 'bus:seatavailability-ajax' %}",
                        data: {'data': JSON.stringify(toSend)},
                        // ^the leftmost "data" is a keyword used by ajax and is not a key that is accessible
                        // server-side, hence the object defined here
                        type: "GET",
                        //dataType: 'json', // dataType specifies the type of data expected back from the server,
                        dataType: 'html',  // in this example HTML data is sent back via HttpResponse in views.py
                        async: false,
                        success: (data) => {

                        },
                    });
                })
            })

            // Get handles to the elements
            const toggleSwitch = $('#toggle-event')

            // Create ToggledElement objects
            const toggleSwitchParent = new Element($('#toggleSwitchParent'), 0.8)
            const seatAvailabilityInterfaceParent = new Element($('#seatAvailabilityInterfaceParent'), 0.6)

            // Immediately disable descendants of divs for toggle switch, seat availability interface
            toggleSwitchParent.disableElement()
            seatAvailabilityInterfaceParent.disableElement()

            // Route select dropdown
            const routeSelect = $('#routeSelect');

            // Status message divs
            const statusMessageDiv = $("#statusMessage")
            const latlngMessageDiv = $("#latlngMessage")

            // Handle to watchPosition execution
            let watchPositionID;

            // Initialize prevTime, broadcast frequency
            let prevTime = Date.now();
            const broadcastFrequency = 2000;

            // Warn driver with popup if they try to leave the page while toggle-switch is activated
            $(window).bind('beforeunload', function () {
                if (toggleSwitch.prop('checked')) {
                    return "a string must be returned";  // As of 2021, for security reasons it's no longer possible to display a custom message
                }
            });


            /**
             * Options and callbacks
             */

            const watchPositionOptions = {
                enableHighAccuracy: true,
                timeout: broadcastFrequency,
                //maximumAge: 60000,
            };

            function geolocationPositionError(positionError) {
                console.warn('ERROR(' + positionError.code + '): ' + positionError.message);
            }

            function ajaxSuccess(data) {
            }

            function watchPositionSuccess(geolocationPosition) {

                let pos = new google.maps.LatLng(geolocationPosition.coords.latitude, geolocationPosition.coords.longitude);

                locationMarker.setMap(null)
                locationMarker = getMarker(pos)

                if (geolocationPosition.timestamp - prevTime > broadcastFrequency) {
                    if(changeViewCounter === 5)
                    {
                        changeViewCounter = 0;
                        driver_page_map_obj.setCenter(pos);
                    }
                    else
                    {
                        changeViewCounter += 1;
                    }
                    prevTime = geolocationPosition.timestamp
                    const geolocationCoordinates = geolocationPosition.coords;

                    // Send the location information to the server
                    const posData = {
                        'selected_route': routeSelect.val(),
                        'active_bus_id': active_bus_id,
                        'latitude': geolocationCoordinates.latitude,
                        'longitude': geolocationCoordinates.longitude,
                        'accuracy': geolocationCoordinates.accuracy != null ? geolocationCoordinates.accuracy : "",
                        'speed': geolocationCoordinates.speed != null ? geolocationCoordinates.speed : "",
                        'heading': geolocationCoordinates.heading != null ? geolocationCoordinates.heading : ""
                    }

                    // Send the watchPosition data to the server
                    jQuery.ajax({
                        url: "{% url 'bus:busposition-ajax' %}",
                        data: {'posData': JSON.stringify(posData)},
                        // ^the leftmost "data" is a keyword used by ajax and is not a key that is accessible
                        // server-side, hence the object defined here
                        type: "GET",
                        dataType: 'json', // dataType specifies the type of data expected back from the server,
                        {#dataType: 'html',  // in this example HTML data is sent back via HttpResponse in views.py#}
                        success: (data) => {
                            if (data['status'] === "Success") {
                                active_bus_id = data['active_bus_id']
                                // Update position data status message on page
                                if (data['last_stop_idx'] !== 0) {
                                    statusMessageDiv.html(`<p> Bus Passed / Arrived stop : ${data['last_stop_idx']} - ${all_stops[data['last_stop_idx']-1].BusStopName} </p>`)
                                }

                            } else {
                                active_bus_id = -1
                                // Update position data status message on page
                                statusMessageDiv.html(`${data['status']}`)
                            }
                        },
                    });

                } else {
                    // We don't want to make frequent commits to server.
                    console.log(geolocationPosition.timestamp - prevTime)
                }
            }


            /**
             * On-change actions
             */

            // Route selector on-change action
            routeSelect.on('change', function () {
                if ($(this).val() !== '') {
                    toggleSwitchParent.enableElement()
                }
            })

            // Broadcast toggle-switch on-change action
            toggleSwitch.change(function () {
                // boolean value from toggle switch
                if ($(this).prop('checked')) {
                    // Immediately disable the route selector
                    routeSelect.prop('disabled', true);
                    seatAvailabilityInterfaceParent.enableElement()

                    // Execute watchPosition callback, store its handle in the global script var
                    watchPositionID = navigator.geolocation.watchPosition(watchPositionSuccess, geolocationPositionError, watchPositionOptions)
                    getAllStopsForRoute();
                    initMap();

                } else {
                    // Clear watchPosition using handle
                    navigator.geolocation.clearWatch(watchPositionID);

                    // Toggle disabled states of route selector,
                    routeSelect.prop('disabled', false);
                    seatAvailabilityInterfaceParent.disableElement()


                    // Clear status message divs
                    statusMessageDiv.html('');
                    latlngMessageDiv.html('');
                    $('#stopSelect').empty();
                    previousStopIdx = -1


                    // temporary dummy data
                    const dataToSend = {'active': 0}

                    // Notify the server that the driver has ended their broadcast
                    jQuery.ajax({
                        url: "{% url 'bus:bushasendedbroadcast-ajax' %}",
                        data: {'data': JSON.stringify(dataToSend)},
                        // ^the leftmost "data" is a keyword used by ajax and is not a key that is accessible
                        // server-side, hence the object defined here
                        type: "GET",
                        //dataType: 'json', // dataType specifies the type of data expected back from the server,
                        dataType: 'html',  // in this example HTML data is sent back via HttpResponse in views.py
                        success: ajaxSuccess,
                    });


                }
            })

        })

    </script>

{% endblock %}


{% block content %}
    <div class="container py-4">
        <div class="mb-3">
            <select class="form-select" id="routeSelect">
                <option selected disabled value="">Select route...</option>
                {% for route_id, route_text in allRoutes.items %}
                    <option value="{{ route_id }}">{{ route_text }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="toggleSwitchParent" class="mb-3">
            <input id="toggle-event" type="checkbox" data-toggle="toggle" data-on="Stop Driving"
                   data-off="Start Driving" data-onstyle="danger">
        </div>
        <div class="mb-3" id="statusMessage"></div>
        <div id="seatAvailabilityInterfaceParent" class="mb-3">
            <h5>Open Seats</h5>
            <div class="row">
                <div class="btn-group btn-group-lg open-seats-btn-group">
                    <button type="button" class="btn btn-success seat-availability-btn" data-color="green">3+</button>
                    <button type="button" class="btn btn-warning seat-availability-btn" data-color="yellow"><3</button>
                    <button type="button" class="btn btn-danger no-seats-btn seat-availability-btn" data-color="red"> None</button>
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="col">#}
{#                    <button type="button" class="btn btn-danger btn-lg no-seats-btn seat-availability-btn"#}
{#                            data-color="red">None#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}

            <!--The div element for the mapindex -->
            <div id="driver_page_map" class="d-grow"></div>

        </div>
    </div>

    </div>
    <!--
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.

     DO NOT use the `async` attribute that is shown in some example html in Google's tutorials, the map may not
     load.
    -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key|safe }}&callback=initMap&v=weekly" defer
            nonce="{{ request.csp_nonce }}">
    </script>

{% endblock %}

