{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script>
        $(function() {
            var timeoutID;  // return value/handle of setTimeout call
            var pos_data = []  // array to hold lat, lng data
            const delayTime = 3000;  // milliseconds

            const options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 60000,
            };


            function error(err) {
              console.warn('ERROR(' + err.code + '): ' + err.message);
            }

            function posChangeCallback(pos) {
                const crd = pos.coords;
                pos_data.push({'Lat': crd.latitude, 'Lng': crd.longitude })
            }

            /**
             * This function uses setTimeout to repeatedly execute itself according to interval delayTime.
             */
            var getPosition = function () {
                navigator.geolocation.getCurrentPosition(pos => {
                    const crd = pos.coords;
                    pos_data.push({'Lat': crd.latitude, 'Lng': crd.longitude })
                }, error, options);
                timeoutID = setTimeout(getPosition, delayTime)
            };


            $('#toggle-event').change(function() {

                // boolean value from toggle switch
                var toggle_tf = $(this).prop('checked')

                // If recording (toggle_tf === true),
                if (toggle_tf) {

                    // clear pos_data
                    pos_data = []

                    // call getPosition which repeatedly executes and pushes position data to pos_data array
                    getPosition();

                    // display status message on page in innerHTML of div element "console-event"
                    $('#console-event').html('recording position')

                } else {
                    // cancel/stop timeout execution
                    clearTimeout(timeoutID);

                    // reset innerHTML text of div with id "console-event"
                    $('#console-event').html('')

                    // name of file will be current time
                    const timenow = Date.now().toString()

                    // create object with the data that will be sent to the server
                    const data_out = {'file_name': timenow, 'pos_data': pos_data}

                    // send the object to the server via ajax
                    jQuery.ajax({
                        url: "{% url 'bus:simulation-ajax' %}",
                        //data: {'file_name': timenow, 'pos_data': JSON.stringify(fruits)},
                        data: {'data': JSON.stringify(data_out) },
                        type: "GET",
                        //dataType: 'json', // dataType specifies the type of data expected back from the server,
                        dataType: 'html',  // in this example HTML data is sent back via HttpResponse in views.py
                        success: callbackFunc,
                    });

                    function callbackFunc(data) {
                        if (data) {
                        console.log("SUCCESS!");
                        } else {
                        console.log("FAILURE!");
                        }
                    }

                }
            })
        })
    </script>

{% endblock %}


{% block content %}
    <div class="mb-3">
        <h5>Generate Position Simulation File</h5>
        <input id="toggle-event" type="checkbox" data-toggle="toggle" data-on="Recording" data-off="">
    </div>
    <div class="mb-3" id="console-event"></div>


{% endblock %}
