{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}

 <script type="text/javascript">

        function DownloadFile(log_id) {
            //Set the File URL.
            jQuery.ajax({
                url: "{% url 'bus:downloadtransitlogcsv-ajax' %}",
                data: {'data': JSON.stringify(log_id)},
                // ^the leftmost "data" is a keyword used by ajax and is not a key that is accessible
                // server-side, hence the object defined here
                type: "GET",
                dataType: 'json',  // in this example HTML data is sent back via HttpResponse in views.py,
                success: function (data) {
                    let fileName = `${data.filename}.csv`
                    let json_data = data.json_data

                    if (json_data.length < 1)
                        return;

                    const newline = "\r\n";
                    const delim = ",";
                    let csvContent = "data:text/csv;charset=utf-8," + Object.keys(json_data[0]).join(delim) + newline;

                    json_data.forEach(function (rowObj) {
                        csvContent += Object.values(rowObj).join(delim) + newline;
                    })

                    // To download file with a custom name, must create a hidden <a> DOM node and set its download attribute
                    var encodedUri = encodeURI(csvContent);
                    var link = document.createElement("a");
                    link.setAttribute("href", encodedUri);
                    link.setAttribute("download", fileName);  // Name of downloaded file is set here
                    document.body.appendChild(link); // Required for FF
                    link.click(); // This will download the data file
                }
            });
        }
    </script>

{% endblock %}


{% block content %}
    <div class="container">
        <h4>Transit Log: {{ transit_log }}</h4>
        <input type="button" value="Download CSV File" onclick="DownloadFile({{ transit_log.id }})"/>
        <br><br>
        <h5>Entries:</h5>
        <ul>
            {% for entry in entries %}
                <li>
                    <p>{{ entry.time_stamp|date:'Y-m-d H:i:s' }}, Lat: {{ entry.latitude }}, Lng: {{ entry.longitude }}</p>
                </li>
            {% empty %}
                <li>There are no entries yet.</li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}
