{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}
    <title>Add Map</title>
    {#   I don't think the following script is needed. Map still loads.   #}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default" nonce="{{ request.csp_nonce }}"></script>

    <link href="{% static 'map/css/mapstyles.css' %}" nonce="{{ request.csp_nonce }}" rel="stylesheet">

    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        const MAP_CENTER = {lat: {{ lat_coord }}, lng: {{ lng_coord }}}
        const ALL_ACTIVE_ROUTES = {{ all_routes | safe }};
        const AJAX_URL_ROUTE_DETAILS = "{% url 'map:routedetails-ajax' %}"
        const AJAX_URL_EST_ARRIVAL = "{% url 'bus:busestarrival-ajax' %}"
        const AJAX_URL_ACTIVE_BUSSES_ON_ROUTE = "{% url 'bus:activebussesonroute-ajax' %}"
        const AJAX_URL_ROUTE_POLYLINE_ENCODING = "{% url 'bus:busroutepolyline-ajax' %}"
        const AJAX_URL_BUS_OCCUPANCY_STATUS = "{% url 'map:occupancy-status-ajax' %}"
    </script>

    <script type="text/javascript" nonce="{{ request.csp_nonce }}" src="{% static 'map/js/map_index.js' %}"></script>

{% endblock %}


{% block content %}

    <!--The div element for the mapindex -->
    <div id="map"></div>
    <div class="dropdown" id="routeDropdown">
        <button id="dropDownButton" class="btn btn-secondary dropdown-toggle" type="button" aria-controls="dropDownControls" data-bs-toggle="dropdown" aria-expanded="false">
            Select Route
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropDownButton" id="dropDownControls">
        </ul>
    </div>
    <div id="legend">
        <a class="btn btn-info" data-bs-toggle="collapse" href="#legendContent" role="button" aria-expanded="true"
           aria-controls="legendContent">
            Seat Availability
        </a>
        <div class="collapse show" id="legendContent">
        </div>
    </div>

    <!--
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.

     DO NOT use the `async` attribute that is shown in some example html in Google's tutorials, the map may not
     load.
    -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key|safe }}&callback=initMap&v=weekly" defer
            nonce="{{ request.csp_nonce }}">
    </script>


{% endblock %}
