{% extends "main/base.html" %}
{% load static %}

{% block extend_head %}
    <title>Add Map</title>
      {#   I don't think the following script is needed. Map still loads.   #}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <style>
      /* Always set the mapindex height explicitly to define the size of the div
       * element that contains the mapindex. */
        #map {
            height: 80vh;  /* Google's suggested height of 100% may prevent map from displaying */
        }
    </style>

    <script type="text/javascript">
        const marker_coords = {lat: {{ lat_coord }}, lng: {{ lng_coord }} }
    </script>

    <script type="text/javascript" src="{% static 'map/js/map_index.js' %}"></script>

{% endblock %}


{% block content %}
{#    <div>#}
{#        <div id="origin-input-container" class="dropdown controls" overflow="auto" height="10px">#}
{#          <button class="btn btn-primary dropdown-toggle" type="button" id="origin-input-button"#}
{#            data-mdb-toggle="dropdown" aria-expanded="false">#}
{#            Select an origin location#}
{#          </button>#}
{#          <ul id="origin-input-dropdown" class="dropdown-menu" aria-labelledby="origin-input-button" size="5">#}
{#            <!-- List items will be added dynamically via index.js -->#}
{#          </ul>#}
{#        </div>#}
{#    </div>#}
    <!--The div element for the mapindex -->
    <div id="map"></div>

    <!--
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.

     DO NOT use the `async` attribute that is shown in some example html in Google's tutorials, the map may not
     load.
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key|safe }}&callback=initMap&v=weekly" defer>
    </script>

{% endblock %}
